.projects {
    padding: 4rem 2rem;
    background: #fff;
    color: #000;
  }
  
  .projects-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  
  .tech-section {
    flex: 1;
    margin-left: 30px;
    margin-top: 40px;
  }
  
  .tech-section h2 {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    margin-top: 6px;
  }
  
  .tech-section ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: -25px;
  }

    .tech-section li, a {
      font-size: 17px;
      color: black;
    }

  
  .project-cards {
    display: flex;
    gap: 2rem;
  }
  
  .card {
    background: #ff8a80;
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .card-title {
    background: #000;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 0;
    z-index: 2;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
  }
  
  .projects-title {
    position: absolute;
    right: 0;
    top: -60px;
    margin-right: 790px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7.5rem;
    letter-spacing: 2px;
  }
  
  .divider {
    margin: 4rem 0 2rem;
    border: none;
    height: 2px;
    background: black;
  }
  
  .projects-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .volunteer-text {
    flex: 2;
    font-style: italic;
    font-size: 17px;
    width: 100px;
    margin-right: 100px;
  }
  
  .volunteer-image {
    flex: 1;
  }
  
  .volunteer-image img {
    width: 380px;
    border-radius: 10px;
    margin-right: 110px;
  }
  
  .volunteer-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 2.6rem;
    margin-left: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
  }
  